<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889714115966-3cutqqfl7aaucbq3s136j7es041g7qdq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889714115966-3cutqqfl7aaucbq3s136j7es041g7qdq</string>
	<key>API_KEY</key>
	<string>AIzaSyAl7vKvWmdLRd_4zWJUcqatm7WCo8fhwg8</string>
	<key>GCM_SENDER_ID</key>
	<string>889714115966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bankTodo</string>
	<key>PROJECT_ID</key>
	<string>bank-todo</string>
	<key>STORAGE_BUCKET</key>
	<string>bank-todo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889714115966:ios:cecd954cf037c4f9091f2f</string>
</dict>
</plist>